* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Light Styles */

body {
  background-color: #568259;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
.dark-theme {
  /* background-color: white; */
  color: #333;
  transition: background-color 0.3s ease; /* Makes the switch smooth */
}

/* Dark Mode Styles */
.dark-theme {
  background-color: #1a1a1a;
  color: #f4f4f4;
}

.container {
    margin: auto;
    text-align: center;
    padding: 0;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    background-color: #568259;
    border: 25px solid black;
     
}
.card{
    /* background-color: black; */
    border-radius: 50px;
    
}

p {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  padding-top: 50px;
  color: black;
}

button,
.dark-theme {
  border-radius: 50px;
  color: white;
  transition: background-color 0.3s ease;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  /* width: 1rem; */
  background-color: #7d6167;
  color: black;
}

/* https://www.youtube.com/watch?v=_gKEUYarehE */
#theme-toggle {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
   align-items: center;
  position: fixed;
  top: 20px;
  /* right: 20px; */
  left: 10px;
}
#theme-toggle svg {
  fill: white;
}
#theme-toggle svg:last-child {
  display: none;
}
.dark-theme #theme-toggle svg:first-child {
  display: none;
}
.dark-theme #theme-toggle svg:last-child {
  display: block;
  fill: white;
}

@media (max-width : 375) {
  /* .container {
    margin: auto;
    text-align: center;
    border-radius: 50px;
    height: 300px;
    width: 300px;
    background-color: #568259;
    border: 25px solid black;
  } */
  .container {
  margin: auto;
  text-align: center;
  
  border-radius: 50px;
  height: 300px;
  width: 300px;
  
  background-color: #568259;
  border: 25px solid black;
}
  p {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
    color: black;
  }
}
